In [1]:
import pandas as pd

In [3]:
file=open(r'C:\Users\jxluo\Downloads\美国King County房价预测训练赛\kc_train.csv')
data=pd.read_csv(file, encoding='utf-8',header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,20150302,545000,3,2.25,1670,6240,1.0,8,1240,430,1974,0,47.6413,-122.113
1,20150211,785000,4,2.50,3300,10514,2.0,10,3300,0,1984,0,47.6323,-122.036
2,20150107,765000,3,3.25,3190,5283,2.0,9,3190,0,2007,0,47.5534,-122.002
3,20141103,720000,5,2.50,2900,9525,2.0,9,2900,0,1989,0,47.5442,-122.138
4,20140603,449500,5,2.75,2040,7488,1.0,7,1200,840,1969,0,47.7289,-122.172

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
0     10000 non-null int64
1     10000 non-null int64
2     10000 non-null int64
3     10000 non-null float64
4     10000 non-null int64
5     10000 non-null int64
6     10000 non-null float64
7     10000 non-null int64
8     10000 non-null int64
9     10000 non-null int64
10    10000 non-null int64
11    10000 non-null int64
12    10000 non-null float64
13    10000 non-null float64
dtypes: float64(4), int64(10)
memory usage: 1.1 MB

In [13]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,1.000000e+04,1.000000e+04,10000.000000,10000.0000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,2.014392e+07,5.428749e+05,3.367600,2.1168,2082.488400,1.535273e+04,1.502850,7.664800,1791.474900,291.013500,1971.204700,85.209700,47.560629,-122.215845
std,4.440706e+03,3.729258e+05,0.893169,0.7741,922.878916,4.577623e+04,0.543642,1.173873,829.449437,446.641339,29.322957,403.491421,0.138570,0.139739
min,2.014050e+07,7.500000e+04,0.000000,0.0000,390.000000,5.720000e+02,1.000000,3.000000,390.000000,0.000000,1900.000000,0.000000,47.159300,-122.519000
25%,2.014072e+07,3.225000e+05,3.000000,1.7500,1430.000000,5.023250e+03,1.000000,7.000000,1190.000000,0.000000,1951.750000,0.000000,47.471375,-122.329000
50%,2.014102e+07,4.507000e+05,3.000000,2.2500,1910.000000,7.590000e+03,1.500000,7.000000,1560.000000,0.000000,1975.000000,0.000000,47.572200,-122.234000
75%,2.015022e+07,6.450000e+05,4.000000,2.5000,2550.000000,1.071700e+04,2.000000,8.000000,2211.500000,560.000000,1997.000000,0.000000,47.678400,-122.127000
max,2.015053e+07,6.885000e+06,10.000000,7.7500,9890.000000,1.651359e+06,3.500000,13.000000,8860.000000,4820.000000,2015.000000,2015.000000,47.777600,-121.315000

In [7]:
y=data[1]
y.head()

0    545000
1    785000
2    765000
3    720000
4    449500
Name: 1, dtype: int64

In [14]:
x=data.drop(columns=[1])
x.head()

,0,2,3,4,5,6,7,8,9,10,11,12,13
0,20150302,3,2.25,1670,6240,1.0,8,1240,430,1974,0,47.6413,-122.113
1,20150211,4,2.50,3300,10514,2.0,10,3300,0,1984,0,47.6323,-122.036
2,20150107,3,3.25,3190,5283,2.0,9,3190,0,2007,0,47.5534,-122.002
3,20141103,5,2.50,2900,9525,2.0,9,2900,0,1989,0,47.5442,-122.138
4,20140603,5,2.75,2040,7488,1.0,7,1200,840,1969,0,47.7289,-122.172

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=1)

In [16]:
lg=LinearRegression()
lg.fit(x_train,y_train)
print(lg.intercept_)
print(lg.coef_)

y_pred=lg.predict(x_test)

-104873705.42966299
[ 3.44992947e+00 -4.68442514e+04  5.36034732e+04  1.30942080e+02
 -1.06245371e-01 -5.51795529e+03  1.09987557e+05  6.46903651e+01
  6.62517154e+01 -2.90847857e+03  3.02062949e+01  5.16273716e+05
 -1.30099106e+05]

In [18]:
from sklearn import metrics
#MSE
print("MSE:",metrics.mean_squared_error(y_test,y_pred))

MSE: 52131840163.29675

In [26]:
file=open(r'C:\Users\jxluo\Downloads\美国King County房价预测训练赛\kc_test.csv')
test=pd.read_csv(file, encoding='utf-8',header=None)
test.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,20140502,2,1.00,880,6380,1.0,7,880,0,1938,1994,47.6924,-122.322
1,20150213,4,2.50,2880,8833,2.0,7,2880,0,2006,0,47.5388,-121.890
2,20141215,4,2.50,1980,5020,2.0,7,1980,0,2007,0,47.5147,-122.190
3,20140617,3,2.50,2830,6536,2.0,9,2830,0,1989,0,47.7462,-122.172
4,20150410,3,1.75,1900,13600,1.0,8,1900,0,1956,0,47.6163,-122.219

In [27]:
test_pred=lg.predict(test)
result=pd.DataFrame(test_pred)
result.to_csv('result.csv',header=['price'],index=None)